<div class="dashboard-container">
  <header class="dashboard-header">
    <div class="header-content">
      <h1>🛡️ Intelligence Anti-Fraude</h1>
      <span class="pipeline-badge">Spark ➔ Angular 21</span>
    </div>
    <p>Análise preditiva de registros processados em ambiente Big Data.</p>
  </header>

  <section class="stats-grid">
    <div class="card alert">
      <div class="card-icon">🚨</div>
      <div class="card-data">
        <h3>Alertas de Fraude</h3>
        <p class="count">{{ fraudes.length }}</p>
      </div>
    </div>
    
    <div class="card info">
      <div class="card-icon">💸</div>
      <div class="card-data">
        <h3>Volume em Risco</h3>
        <p class="count">{{ totalValor | currency:'BRL' }}</p>
      </div>
    </div>

    <div class="card secondary">
      <div class="card-icon">⚙️</div>
      <div class="card-data">
        <h3>Processamento</h3>
        <p class="count">1M</p>
        <small>Registros Analisados</small>
      </div>
    </div>
  </section>

  <section class="chart-section">
    <div class="chart-header">
      <h3>Top 10 Transações de Maior Risco</h3>
      <span class="status-live">Live</span>
    </div>
    <div class="canvas-wrapper">
      <canvas #graficoCanvas></canvas>
    </div>
  </section>

  <section class="table-section">
  <div class="table-responsive">
    <table>
  <thead>
    <tr>
      <th>ID Transação</th>
      <th>Valor</th>
      <th>Status</th>
      <th>País</th>
      <th>Tentativas</th>
      <th>Data / Hora</th>
    </tr>
  </thead>

  <tbody>
    @for (item of dadosPaginados; track $index) {
      <tr>
        <td class="font-mono">{{ item.id_transacao }}</td>

        <td class="font-bold">
          {{ item.valor | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
        </td>

        <td>
          <span class="badge">
            ⚠️ {{ item.statusFormatado }}
          </span>
        </td>

        <td>{{ item.paisFormatado }}</td>

        <td>{{ item.tentativas }}</td>

        <td>{{ item.dataFormatada }}</td>
      </tr>
    }
  </tbody>
</table>
  </div>

  <div class="pagination-controls">
    <button (click)="mudarPagina(false)" [disabled]="paginaAtual === 1" class="btn-pag">
      ← Anterior
    </button>
    
    <span class="page-info">
      Página <strong>{{ paginaAtual }}</strong> de {{ totalPaginas }}
      <small>({{ fraudes.length }} registros totais)</small>
    </span>

    <button (click)="mudarPagina(true)" [disabled]="paginaAtual === totalPaginas" class="btn-pag">
      Próxima →
    </button>
  </div>
</section>
</div>